/** {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}*/
body{
    background: lightgrey;
    /*background-image: url("traintrack.jpg");
    background-repeat: no-repeat;
    background-size:cover;*/
    opacity: .95;
}
.jumbotron{
    background-color: rgba(0, 0, 0, 0.5);
}
.jumbotron, h1, h2, h3{
    text-align: center;
    color: #fff;
}
.jumbotron h2{
    font-size: 35px;
}
.jumbotron h3{
    font-size: 20px;
}
#userTime{
    padding: 10px 0;
}
#refresh{
    padding: 5px 20px;
}
th{
    text-align: center;
    font-size: 18px;
}
.submit{
    padding: 5px 15px;
    font-size: 15px;
}
.fa{
    padding-right: 10px;
}